<footer class="footer">
  <div class='container'>
    
    <nav class="navbar navbar-expand-lg">
      <div class="container">
         <small>
            The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
            by <a href="https://www.michaelhartl.com/">Michael Hartl</a>
         </small>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <ul class="navbar-nav">
            <li class='nav-link'><%= link_to "About", about_path %></li>
            <li class='nav-link'><%= link_to "Contact", contact_path %></li>
            <li class='nav-link'><a href="https://news.railstutorial.org/">News</a></li>
        </ul>
      </div>  
    </nav>
   </div> 
</footer>